@model List<TaskModel>


<div id="myDIV" class="header">
	<h2>My To Do List</h2>
</div>

<a href="/ToDoList/NewTask">Add New Task</a>
<table border="1">
	<tr>
		<th>Name</th>
		<th>Status</th>
	</tr>
	@foreach (TaskModel task in Model)
	{
		
		<tr>
			<td><a href="/ToDoList/ViewTask/@task.Id">@task.TaskName </a></td>
			<td>@task.Status</td>

		</tr>
	 }
</table>


