@model List<TaskModel>


<div id="myDIV" class="header">
	<h2>To Do List</h2>
	<a href="/ToDoList/NewTask">Add New Task</a>
</div>

<ul id="myUL">
	@foreach (TaskModel task in Model)
	{
		<li><a href="/ToDoList/ViewTask/@task.Id">@task.TaskName </a></li>
	}
</ul>


