@model TaskModel
<h2>New Task:</h2>

@using (Html.BeginForm("Add", "ToDoList", "Post"))
{
	<label asp-for="TaskName" class="control-label">Name:</label>
	<br />
	<input type="text" name="TaskName" class="form-control" value="" id="myInput" />
	<br />
	<br/>
	<input type="submit" name="Submit" class="btn btn-primary" onclick="return validateForm()" value ="Add Task"/>
	
 }


