@model TaskModel

<h2>Update Task</h2>


@using (Html.BeginForm("Update", "ToDoList", "Post"))
{
	<input asp-for="Id" type="hidden" value="@Model.Id" />
	<label asp-for="TaskName" class="control-label">Name:</label>
	<br />
	<input type="text" name="TaskName" class="form-control" value="@Model.TaskName" id="myInput" />
	<br />
	<br />
	<label asp-for="Status" class="control-label"> Status: </label>
	<br />
	<label><input type="radio" name="Status" value="Not Completed" /> Not Completed  </label>
	<br />
	<label><input type="radio" name="Status" value="Completed" checked/> Completed </label>
	<br />
	<br />
	<input type="submit" name="Submit" class="btn btn-primary" onclick="return validateForm()" value="Update Task" />
}

